*{margin: 0; padding: 0;}
.bo{
    width: 400px;
    height: 300px;
    position: relative;
    overflow: hidden;


}
.anh{
    width: 100%;
    height: 100%;
}
.xam{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: gray;
    transition: 0.4s;
    top: 0;
    left: 0;
    border: 0px black solid;
    box-sizing: border-box;
    opacity: 0;
}
.bo:hover .xam {
    border: 20px solid black;
    opacity: 1 ;
}
.text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 30px;
    left: 30px;
    transition: 0.4s;
    opacity: 0;
}
.bo:hover .text{
    opacity: 1;
}